name: ci
on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.19
        uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613 # v3
        with:
          go-version: 1.19
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3

      - name: Verify go.mod is sane
        run: go mod tidy && git diff --no-patch --exit-code

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: make

      - name: Test
        run: make test
