name: ci
on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: Setup Bats and bats libs
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # v3.0.1

      - name: Verify go.mod is sane
        run: go mod tidy && git diff --no-patch --exit-code

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: make

      - name: Test
        run: make test

      - name: Create Integration Pre-Reqs
        run: ./scripts/generate-test-chart.sh

      - name: Upload helm-sigstore-test-0.1.0.tgz
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: helm-sigstore-test-0.1.0.tgz
          path: |
            helm-sigstore-test-0.1.0.tgz
            helm-sigstore-test-0.1.0.tgz.prov
            .gnupg/sigstore-secring.gpg

      - name: Integration Test
        run: make integration
