name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
   contents: write # needed to write releases
   id-token: write # needed for keyless signing

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x

      - uses: sigstore/cosign-installer@v2.0.1         # installs cosign
      - uses: anchore/sbom-action/download-syft@v0.6.0 # installs syft

      - uses: actions/checkout@v3

      - uses: goreleaser/goreleaser-action@v2
        with:
          install-only: true

      - name: release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
